[mysql]
#设置mysql客户端默认字符集
default-character-set=utf8

[mysqld]
# skip-grant-tables
# mysql5.7以后的不兼容问题处理
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# 允许最大连接数
max_connections=300

# 服务端默认字符集
character-set-server=utf8mb4

# 默认校对规则
collation-server=utf8mb4_unicode_ci

# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB

# 表名不区分大小写
lower_case_table_names=1

# 最大包大小
max_allowed_packet=64M

# 设置时区
default-time_zone='+8:00'

# InnoDB 缓冲池大小
innodb_buffer_pool_size=512M

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
